# Test requirements
# Note: These packages are stored outside of the setup.py, to maintain a
# single source of truth, and allow the extras to be installed in isolation.
django-test-plus==1.4.0
Django>=3.2,<5.1
djangorestframework>=3.12
pytest-cov==4.1.0
pytest-django==4.8.0
pytest==8.0.0
pytz==2024.1
setuptools==69.1.0
