# Development / CI requirements
# Note: These packages are stored outside of the setup.py, to maintain a
# single source of truth, and allow the extras to be installed in isolation.
black==24.2.0
flake8==7.0.0
isort==5.13.2
wheel==0.42.0  # for PyPI installs
