.index h1 {
  margin-bottom: 5px;
}

.index__badges {
  margin: 20px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}

.index__badges a {
  display: inline-block;
}

.index__badges img {
  padding: 0;
  margin: 0;
}
